:root{
    --body-bg: #e3f2fd;
    --widget-bg: #ffffff;
    --text-color: #0d47a1;
    --shadow-color: rgba(13, 71, 161, 0.1);
    --shadow-hover: rgba(13, 71, 161, 0.15);
    --primary-color: #1976d2;
    --primary-color-text: #0d47a1;
}
