:root{
    --body-bg: #f5f5f5;
    --widget-bg: #ffffff;
    --text-color: #333333;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 0, 0, 0.2);
    --primary-color: #3b82f6;
    --primary-color-text: #2563eb;
}